{% extends 'base.html' %}

{% block content %}


<div class="scoring">
    <table>
        <tr>
            <th colspan="3">Scoring</th>
        </tr>
        <tr>
            <th>Abbr.</th>
            <th>Meaning</th>
            <th>Points</th>
        </tr>
        <tr>
            <td>K</td>
            <td>Kills</td>
            <td>+2 pts</td>
        </tr>
        <tr>
            <td>D</td>
            <td>Deaths</td>
            <td>-0.5 pts</td>
        </tr>
        <tr>
            <td>A</td>
            <td>Assists</td>
            <td>+1.5 pts</td>
        </tr>
        <tr>
            <td>CS</td>
            <td>Creep Score</td>
            <td>+0.01 pts</td>
        </tr>
        <tr>
            <td>T</td>
            <td>Triples</td>
            <td>+2 pts/ea</td>
        </tr>
        <tr>
            <td>Q</td>
            <td>Quadras</td>
            <td>+5 pts/ea</td>
        </tr>
        <tr>
            <td>P</td>
            <td>Pentas</td>
            <td>+10 pts/ea</td>
        </tr>
        <tr>
            <td>B</td>
            <td>Bonus</td>
            <td>+2 pts if K+A >= 10</td>
        </tr>
    </table>
</div>

<div class="container" style="text-align: center">
    <h2> Here are the fantasy points for {{summoner_name}}'s last game: </h2>

    <table>
        {% if win %}
            <tr>
                <th colspan="11" style="color:green">VICTORY!!</th>
            </tr>
        {% else %}
            <tr>
                <th colspan="11" style="color:red">DEFEAT!!</th>
            </tr>
        {% endif %}


        <tr>
            <th colspan="11">{{summoner_name}}'s Team</th>
        </tr>
        <tr style="font-size: 25px">
            <th>Summoner Name</th>
            <th>Champion</th>
            <th>K</th>
            <th>D</th>
            <th>A</th>
            <th>CS</th>
            <th>T</th>
            <th>Q</th>
            <th>P</th>
            <th>B</th>
            <th>Fantasy Points</th>
        </tr>
        {% for player in ally_data %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.champion }}</td>
                <td>{{player.kills}}</td>
                <td>{{player.deaths}}</td>
                <td>{{player.assists}}</td>
                <td>{{player.creep_score}}</td>
                <td>{{player.triples}}</td>
                <td>{{player.quadras}}</td>
                <td>{{player.pentas}}</td>
                <td>{{player.bonus}}</td>
                <td>{{player.fantasy_points}}</td>
            </tr>
        {% endfor %}
    </table>

    <table style="margin-top: 30px">
        {% if win %}
            <tr>
                <th colspan="11" style="color:red">DEFEAT!!</th>
            </tr>
        {% else %}
            <tr>
                <th colspan="11" style="color:green">VICTORY!!</th>
            </tr>
        {% endif %}


        <tr>
            <th colspan="11">Enemy Team</th>
        </tr>
        <tr style="font-size: 25px">
            <th>Summoner Name</th>
            <th>Champion</th>
            <th>K</th>
            <th>D</th>
            <th>A</th>
            <th>CS</th>
            <th>T</th>
            <th>Q</th>
            <th>P</th>
            <th>B</th>
            <th>Fantasy Points</th>
        </tr>
        {% for player in enemy_data %}
            <tr>
                <td>{{ player.name }}</td>
                <td>{{ player.champion }}</td>
                <td>{{player.kills}}</td>
                <td>{{player.deaths}}</td>
                <td>{{player.assists}}</td>
                <td>{{player.creep_score}}</td>
                <td>{{player.triples}}</td>
                <td>{{player.quadras}}</td>
                <td>{{player.pentas}}</td>
                <td>{{player.bonus}}</td>
                <td>{{player.fantasy_points}}</td>
            </tr>
        {% endfor %}
    </table>
<!--
    <h2>Enemy Team</h2>

    {% if win %}
    <p style="color:red"> DEFEAT!! </p>
    {% else %}
    <p style="color:green"> VICTORY!! </p>
    {% endif %}
        {% for player in enemy_data %}
            <p>{{ player.name }} | {{ player.champion }} | K = {{player.kills}}
                | D = {{player.deaths}} | A = {{player.assists}}
                | CS = {{player.creep_score}} | T = {{player.triples}}
                | Q = {{player.quadras}} | P = {{player.pentas}}
                | B = {{player.bonus}}
                | FANTASY POINTS = {{player.fantasy_points}}</p>
        {% endfor %}
-->
</div>
{% endblock %}